.fatura-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f7fc;
}

.fatura-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-top: 80px;
  overflow-x: hidden;
  overflow-y: auto;
}

.fatura-list {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border: 2px solid #1a3986;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
  background-color: #ffffff;
  display: table;
}

.fatura-header-row {
  display: table-row;
  background: #f7f7f7;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.fatura-header-cell {
  flex: 1;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.36px;
  display: table-cell;
  padding: 8px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.fatura-row {
  display: table-row;
  height: 45px;
  align-items: center;
  transition: background 0.3s ease;
}

.fatura-row-dark {
  background: #f1f1f1;
}

.fatura-row-light {
  background: #ffffff;
}

.fatura-cell {
  flex: 1;
  color: #666666;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.48px;
  display: table-cell;
  padding: 8px;
  border: 1px solid #ccc;
}

.fatura-row-light .fatura-cell {
  color: #333333;
}

.fatura-row:hover {
  background-color: #e6f0ff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
}

.modal-content {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  width: 400px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content input {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.new-fatura-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.new-fatura-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.new-fatura-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.fatura-action-button.upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  transition: background-color 0.3s, transform 0.2s;
}

.fatura-action-button.upload-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.fatura-action-button.upload-button:active {
  background-color: #004085;
  transform: translateY(0);
}
