
.footer {
    position: absolute;
    width: 1440px;
    height: 172px;
    top: 1367px;
    left: 0;
    background: url(../assets/rectangle-footer.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .copyright {
    color: #ffffff;
    font-family: Raleway, var(--default-font-family);
    font-size: 16px;
    font-weight: 200;
    line-height: 16px;
    text-align: right;
  }
  