:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1072px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.frame {
  position: relative;
  width: 658px;
  height: 705px;
  margin: 1337px 0 0 410px;
  z-index: 31;
  overflow: hidden;
}
.flex-row-e {
  position: absolute;
  width: 1493px;
  height: 1130px;
  top: -48px;
  left: -53px;
  z-index: 32;
}
.blue-minimalist-water-systems-logo {
  position: absolute;
  width: 187px;
  height: 187px;
  top: 0;
  left: 53px;
  background: url(../assets/images/1111e0818d0188869406b1dadfbd83c20d628011.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.rectangle {
  position: relative;
  width: 115px;
  height: 100px;
  margin: 48px 0 0 36px;
  background: #ffffff;
  z-index: 2;
}
.rectangle-1 {
  position: absolute;
  width: 193px;
  height: 56px;
  top: 70px;
  left: 632px;
  background: url(../assets/images/f86407b3-226b-4d18-8a00-8c6724cce65b.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.material-symbols-light-logout {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 70px;
  left: 1399px;
  background: url(../assets/images/003d4c5d-3397-426f-990e-60c5c1a00eea.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  overflow: hidden;
}
.meu-perfil {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 77px;
  left: 804px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.visualizar-faturas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 77px;
  left: 1036px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.line {
  position: absolute;
  width: 210.002px;
  height: 3px;
  top: 118.509px;
  left: 789.999px;
  background: url(../assets/images/13fd2242-0f16-46a6-a9ba-b06180c6f9f0.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.rectangle-2 {
  position: absolute;
  width: 1440px;
  height: 800px;
  top: 148px;
  left: 53px;
  background: #7b9fb1;
  z-index: 6;
}
.flex-column-fa {
  position: absolute;
  width: 893px;
  height: 642px;
  top: 31px;
  left: 514px;
  z-index: 21;
}
.rectangle-3 {
  position: relative;
  width: 150px;
  height: 57px;
  margin: 0 0 0 743px;
  cursor: pointer;
  background: #29417e;
  border: none;
  z-index: 21;
  border-radius: 20px;
  box-shadow: -5px 5px 4px 0 rgba(0, 0, 0, 0.25);
}
.tabler-edit {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 8px;
  background: url(../assets/images/8cbacc22-0ffb-4005-8b9a-be855888725a.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
  overflow: hidden;
}
.editar-perfil {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 20px;
  left: 40px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.meu-perfil-4 {
  display: block;
  position: relative;
  height: 64px;
  margin: 29px 0 0 130px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
  text-shadow: -8px 4px 4px rgba(0, 0, 0, 0.25);
}
.nome-completo {
  display: block;
  position: relative;
  height: 20px;
  margin: 54px 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.rectangle-5 {
  position: relative;
  width: 832px;
  height: 63px;
  margin: 11px 0 0 0;
  background: #ffffff;
  z-index: 14;
  overflow: hidden;
  border-radius: 20px;
}
.fulano-da-silva {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 24px;
  left: 18px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.email {
  display: block;
  position: relative;
  height: 20px;
  margin: 25px 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.rectangle-6 {
  position: relative;
  width: 535px;
  height: 63px;
  margin: 6px 0 0 0;
  background: no-repeat center;
  background-size: cover;
  z-index: 8;
  overflow: hidden;
}
.email-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 22px;
  left: 18px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.telefone {
  display: block;
  position: relative;
  height: 20px;
  margin: 26px 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.rectangle-8 {
  position: relative;
  width: 199px;
  height: 63px;
  margin: 6px 0 0 0;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 10;
  overflow: visible auto;
  border-radius: 20px;
}
.div {
  position: relative;
  width: 143px;
  height: 20px;
  margin: 23px 0 0 18px;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: underline;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 16;
}
.span {
  position: relative;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: underline;
}
.span-9 {
  position: relative;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.span-a {
  display: block;
  position: relative;
  height: 20px;
  margin: 27px 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.button {
  position: relative;
  width: 831px;
  height: 63px;
  margin: 5px 0 0 0;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 11;
  border-radius: 20px;
}
.span-b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 22px;
  left: 18px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.div-c {
  position: absolute;
  width: 384px;
  height: 482px;
  top: 202px;
  left: 74px;
  background: url(../assets/images/e60a8ea0-44f4-486a-95dd-5309e28efc3e.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.div-d {
  position: relative;
  width: 206px;
  height: 209px;
  margin: 124px 0 0 89px;
  background: url(../assets/images/86718a97-69eb-4f4f-9343-e23c4596f1be.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
  overflow: hidden;
}
.blue-minimalist-logo {
  position: absolute;
  width: 237px;
  height: 205px;
  top: 925px;
  left: 42px;
  background: url(../assets/images/1111e0818d0188869406b1dadfbd83c20d628011.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.rectangle-e {
  position: relative;
  width: 181px;
  height: 172px;
  margin: 23px 0 0 33px;
  background: #ffffff;
  z-index: 25;
}
.text-e {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 1190px;
  height: 32px;
  top: 1011px;
  left: 0;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  white-space: nowrap;
  z-index: 26;
}
.text-f {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 426px;
  height: 16px;
  top: 1086px;
  left: 595px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  text-align: right;
  white-space: nowrap;
  z-index: 24;
}
.rectangle-f {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 0;
  left: 0;
  background: url(../assets/images/fec81a55-0c56-4ac4-9a12-21bc7d7df802.png)
    no-repeat center;
  background-size: cover;
}
.rectangle-10 {
  position: absolute;
  width: 1440px;
  height: 172px;
  top: 900px;
  left: 0;
  background: url(../assets/images/20078e13-1c1b-426a-952b-dbb56eb90f2a.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
