
.how-it-works {
  position: relative;
  width: 1440px;
  height: 407px;
  background: #c7d8e1;
  padding: 48px 0;
  overflow: visible auto;
}

.how-it-works-title {
  margin: 0 0 20px 478px;
  color: #507d94;
  font-family: Raleway, var(--default-font-family);
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
}

.how-it-works-description {
  width: 1123px;
  margin: 0 auto;
  color: #000000;
  font-family: Raleway, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.transform-consumption {
  position: relative;
  width: 1493px;
  height: 569px;
  margin-left: -53px;
}

.content-wrapper {
  position: absolute;
  width: 1440px;
  height: 390px;
  top: 0;
  left: 53px;
  background: #7b9fb1;
  padding: 67px 80px;
}

.transform-title {
  margin: 0 0 67px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-shadow: -8px 4px 4px rgba(0, 0, 0, 0.25);
}

.transform-description {
  width: 1275px;
  margin: 0 auto;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.image-wrapper {
  position: absolute;
  width: 237px;
  height: 205px;
  top: 364px;
  left: 45px;
  background: url(../../assets/smart-hydro-gas.png) no-repeat center;
  background-size: cover;
}

.image-inner {
  position: relative;
  width: 181px;
  height: 171px;
  margin: 26px 0 0 30px;
  background: #ffffff;
}

.tagline {
  position: absolute;
  width: 1190px;
  top: 449px;
  left: 0;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
}

.welcome {
  position: relative;
  width: 1440px;
  height: 466px;
  background: #7b9fb1;
  padding: 62px 0;
}

.welcome-title {
  margin: 0 0 48px 254px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
  text-shadow: -8px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome-description {
  width: 1079px;
  margin: 0 auto;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
